@font-face {
    font-family: source_code_pro;
    src: url(/assets/source_code_pro.ttf);
}
@font-face {
    font-family: fira_sans;
    src: url(assets/fira_sans.ttf);
}

body {
    background-color: black;
    background-image: url("assets/space.jpg");
}

h1, h3 {
    color: #ff4081;
    text-shadow: rgba(255, 0, 72, 0.66) 1px 0 10px;
    /* padding: 15px */
}

h2 {
    color: #4046ff;
    text-shadow: rgba(21, 0, 255, 0.66) 1px 0 10px;
    /* padding-bottom: 5px; */
}


p {
    font-size: 20px;
    color: #a940ff;
    text-shadow: rgba(170, 0, 255, 0.66) 1px 0 10px;
    font-family: fira_sans;
}   

a {
    color: #5f5fff;
    text-decoration: none;
    text-emphasis: bold;
    font-family: source_code_pro;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(0deg); }
}


.special-header {
    animation: spin 3s ease-in-out infinite;
    font-size: 80px;
    pointer-events: none;
    user-select: none;
}


.centre {
    text-align: center ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre-left {
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes flying-ignitro {
    0% { transform: translate(-400%, -150%); }
    25% { transform: translate(0%, -150%); }
    50% { transform: translate(200%, -250%); }
    75% { transform: translate(360%, -320%); }
    100% { transform: translate(500%, -600%); }
}

.flying-ignitro {
    position: absolute;
    scale: 0.15;
    animation: flying-ignitro 10s ease-in-out infinite;
    pointer-events: none;
}

button {
    color:#ff4081;
    background-color: rebeccapurple;
    border-radius: 15%;
    border-color: black;
    text-shadow: rgba(255, 0, 72, 0.66) 1px 0 10px;
    box-shadow: 0px 0px 10px 2px rebeccapurple;
    transition: ease-in-out 150ms;
    font-size: 40px;
}

button:hover {
    
    transform: scale(1.2);
}


.div-centre {
    /* display: flex; */
    height: 100vh;
    width: calc(100% / 3);
    margin: 0 auto;
    flex-direction: column;
    gap: 2px;
}
.div-centre > * {
    /* margin: 4px 0; */
}

.div-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
}

@keyframes move {
    0% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(0);
    }
}

strong {
    font-size: 20px;
    color: #d940ff;
    text-shadow: rgba(221, 0, 255, 0.66) 1px 2px 10px;
    font-family: fira_sans;
}

ul, ol {
    font-size: 20px;
    color: #ffd940;
    text-shadow: rgba(255, 221, 0, 0.66) 1px 0 10px;
    font-family: fira_sans;
}   

hr {
    box-shadow: 0px 0px 5px 2px rgb(253, 98, 173);
    border: none;
    height: 0px;
}
