/* Colours */
:root {
  --red: #ff0000ff;
  --orange: #ff7900ff;
  --yellow: #fff200ff;
  --light-green: #8df900ff;
  --green: #1aff00ff;
  --teal: #118080ff;
  --blue: #0800ffff;
  --violet: #8400ffff;
  --light-violet: rgb(174, 0, 255);
  --pink: #ff00ffff;
  --black: rgb(5, 5, 5);
  --dark-purple: #500054;
}

/* Fonts */
@font-face {
  font-family: hack;
  src: url("/assets/fonts/hack_regular.ttf");
}
@font-face {
  font-family: hack_bold;
  src: url("/assets/fonts/hack_bold.ttf");
}
@font-face {
  font-family: hack_bold_italic;
  src: url("/assets/fonts/hack_bold_italic.ttf");
}
@font-face {
  font-family: hack_italic;
  src: url("/assets/fonts/hack_italic.ttf");
}
@font-face {
  font-family: jetbrains_regular;
  src: url("/assets/fonts/jetbrains_regular.ttf");
}
@font-face {
  font-family: source_code_pro;
  src: url(/assets/fonts/source_code_pro.ttf);
}
@font-face {
  font-family: fira_sans;
  src: url(/assets/fonts/fira_sans.ttf);
}
@font-face {
  font-family: droid_serif;
  src: url(/assets/fonts/droid_serif.ttf);
}
@font-face {
  font-family: droid_serif_bold;
  src: url(/assets/fonts/droid_serif_bold.ttf);
}

/* Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
@keyframes flying-ignitro {
  0% {
    transform: translate(-400%, -150%);
  }
  25% {
    transform: translate(0%, -150%);
  }
  50% {
    transform: translate(200%, -250%);
  }
  75% {
    transform: translate(360%, -320%);
  }
  100% {
    transform: translate(500%, -600%);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Type Styles */
body {
  background-color: var(--black);
}

h1,
h2,
h3 {
  font-family: hack;
}

h1 {
  color: var(--green);
  font-family: hack;
  text-shadow: 0px 0px 7px var(--green);

  /* From .centred */
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--blue);
  font-family: hack;
  text-shadow: 0px 0px 7px var(--blue);
}

h3 {
  color: var(--red);
  font-family: hack;
  text-shadow: 0px 0px 5px var(--red);
  margin: 9px auto;
  font-size: 22px;
}

strong {
  font-family: jetbrains_regular;
  font-weight: 600;
}

a {
  color: var(--violet);
  text-shadow: var(--violet) 1px 0 10px;
  text-decoration: none;
  text-emphasis: bold;
  font-family: hack;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: var(--light-violet);
}

p {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  font-size: 19px;
  font-family: jetbrains_regular;
  margin: 0px auto;
}

ul,
ol {
  color: rgb(65, 72, 255);
  text-shadow: 0px 0px 2px rgb(59, 62, 255);
  font-size: 19px;
  font-family: jetbrains_regular;
}

em {
  color: var(--light-green);
  text-shadow: 0px 0px 10px var(--light-green);
}

select {
  color: var(--pink);
  background-color: var(--violet);
  box-shadow: 0px 0px 10px var(--violet);
  border-radius: 6px;
  border-width: 0px;
  padding: 5px;
}

/* Class Styles */
a.login-button {
  padding: 100px auto;
  margin: 100px auto;
  font-size: 30px;
  user-select: none;
}
.div-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.div-centred {
  height: 100vh;
  width: calc(100% / 1.5);
  margin: 0 auto;
  flex-direction: column;
  gap: 2px;
}

.centred {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible {
  background-color: var(--dark-purple);
  color: var(--pink);
  cursor: pointer;
  padding: 10px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #68006e;
}

.content {
  width: 100%; /* Adjust width as needed */
  padding: 18px;
  display: none;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: flex-start; /* Aligns items to the start (left) of the container */
  background-color: #400043;
  transition: max-height 0.2s ease-out;
}

.content img {
  max-width: 49%; /* Ensures images don't exceed the container width */
  height: auto;
  margin-right: 10px; /* Adds space between images */
  margin-bottom: 10px; /* Adds space between rows of images */
}

.spinning-header {
  animation: spin 3s ease-in-out infinite;
  font-size: 80px;
  pointer-events: none;
  user-select: none;
}

.cell_01 {
  position: absolute;
  scale: 0.15;
  animation: flying-ignitro 10s ease-in-out infinite;
  pointer-events: none;
}

/* Screen Size Optimization */
@media (max-width: 1450px) {
  .div-centred {
    width: calc(100% / 1.2);
  }
}
@media (max-width: 1250px) {
  .div-centred {
    width: calc(100% / 1.5);
  }
}
@media (max-width: 650px) {
  .div-centred {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .div-centred {
    width: 100%;
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
}
