/* Class Styles */
div.content-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 70%;
  border-radius: 15px;
  padding: 10px;
  margin-top: 35px; 
  transition: all 0.3s ease-in-out;

  /* (ignitro styles) */
  box-sizing: border-box;
  border: 3px solid rgb(105, 148, 223);
  box-shadow: 0px 0px 10px 2px rgb(98, 155, 253);
}

/* div.content p {
  color: white;
  font-size: 20px;
} */

.top-bar button {
  margin: 0 auto;
  border-radius: 20px;
  font-size: 16px;
}

div.top-bar {
  margin: 0 auto;
  text-align: right;
}

.top-bar a {
  
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;

  /* Old Styles */
  /* color: white; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */

  /* Ignitro Styles */
  font-family: "source_code_pro";
  font-weight: 800;
  color: #5f5fff;

  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.top-bar a:hover {
  color: lightskyblue;
  transform: rotateZ(2deg);
}

.top-bar img {
  width: 35px;
  height: auto;
  vertical-align: middle;
}

div.title h2 {
  display: inline-flexbox;
  text-align: left;
  vertical-align: top;
  padding: 0px auto;
  margin: 0px auto;
  position: absolute;
}

